/* header */
header{
    background-color: #8de0d9;
    padding: 20px;
    align-items: center;
}

.menu-container{
    background-color: #f2b126;
    max-width: 1200px;
	margin: 0 auto;
    display: flex;
}

.menu-container>* {
    border: 2px dashed black;
    min-width: 200px;
}

nav{
    flex-grow: 1;
}

ul{
    text-align: center;
}

li{
    float: left;
}

.login{
    text-align: right;
}

/* figli di sezioni */
section>*{
    border: 2px dashed black;
}

/* prima sezione */

.sezione-a{
    background-color: #072ab7;
    padding: 30px;
}

.pink{
    background-color: #f4beee;
    height: 300px;
    max-width: 950px;
}