/* header */
header{
    background-color: #8de0d9;
    padding: 20px;
    align-items: center;
}

.menu-container{
    background-color: #f2b126;
    max-width: 1200px;
	margin: 0 auto;
    display: flex;
}

.menu-container>* {
    border: 2px dashed black;
    min-width: 200px;
}

nav{
    flex-grow: 1;
}

ul{
    text-align: center;
}

li{
    float: left;
}

.login{
    text-align: right;
}

section{
    padding: 30px;
}

/* figli di sezioni */
section>*,
.sezione-box>*{
    border: 2px dashed black;
}

/* prima sezione */

.sezione-a{
    background-color: #072ab7;
}

.pink{
    background-color: #f4beee;
    height: 300px;
    max-width: 950px;
}

/* sezioni opposte */

.alpha{
    background-color: white;
}

.beta{
    background-color: #b5b5b5;
}

.sezione-box{
    display: flex;
    height: 300px;
}

.column-az{
    background-color: #529df9;
    width: 60%;
}

.column-ro{
    background-color: #ffb5dc;
    width: 40%;
}

/* sezione verde */
.big{
    background-color: #b5b5b5; 
}

.bosco{
    background-color: #228b22;
    height: 600px;
}

/* sezione finale */

.ultima-sezione{
    background-color: rgb(35 39 42);
}

.double{
    background-color: #ffb5dc;
    width: calc(100%/3);
}

.single{
    background-color: #06e0e0;
    width: calc(100%/6);
    border-color: white;
}